
tqdm>=4.65.0
wandb>=0.15.0
datasets>=3.6.0  # For tokenization and model utilities
requests>=2.25.0  # For downloading GloVe embeddings
torch>=2.0.0
more_itertools>=10.5.0
#transformers>=4.30.0  # For tokenization and model utilities
#redis>=6.0.0
fastapi>=0.115.10